.text {
    width: 300px;
   margin: 30px;
}

.contact-text {
    margin: 30px;
    width: 500px;
}

.e-mail {
    margin: 30px;
    width: 500px;
}

.nummer {
    margin: 30px;
    width: 500px;
}